.history-card-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.delete-button {
  height: 30px;
  width: 30px;
  text-align: center;
}
.delete-img {
  height: 10px;
  width: 10px;
}

.logo-img {
  height: 15px;
  width: 15px;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
